.array-container {
  position: relative;
  margin-top: 30px;
}

.array-bar {
  width: 5px;
  display: inline-block;
  margin: 0 3px;
  max-height: 90%;
  border: 1px solid yellow;
}

.sorting-algo-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
